<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1> Home Page</h1>
    <div>
        <a href="/add_user"><button>Add User</button></a>
        <a href="/retrive_user"><button>Retrieve User</button></a>
    </div>
</body>
</html>
