<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1>User Data</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Roll Number</th>
            <th>School</th>
            <th>Company</th>
            <!-- Add more headers as needed -->
        </tr>
        <% users.forEach(function(user) { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.rollno %></td>
                <td><%= user.school%></td>
                <td><%= user.company%></td>

                <!-- Add more cells for additional user properties -->
            </tr>
        <% }); %>
    </table>
</body>
</html>
